.products-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.products-table th, .products-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.products-table th {
  background-color: #f2f2f2;
}

/* Estilos para los nuevos botones Editar y Eliminar */
.btn-edit, .btn-delete {
  padding: 8px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  color: white;
}

.btn-edit {
  background-color: #ffc107; /* Color amarillo para el botón Editar */
}

.btn-edit:hover {
  background-color: #e0a800;
}

.btn-delete {
  background-color: #dc3545; /* Color rojo para el botón Eliminar */
}

.btn-delete:hover {
  background-color: #c82333;
}

/* Estilos para botones desactivados */
.btn-edit[disabled], .btn-delete[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}
